$breakpoint-tablet: 768px;

.Details {
  padding-top: 25px;
  display: flex;

  h2 {
    font-size: 2em;
    padding: 0 20px 0 0;
  }

  .col {
    flex: 1;

    p {
      padding: 0 20px 0 0;
      line-height: 24px;
    }
  }

  img {
    border: 1px solid #222;
    margin-top: 35px;
    flex: 1;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
}
